---
import '@styles/global.css';
import BlankLayout from '@layouts/BlankLayout.astro';
---

<BlankLayout content="{ title: 'File not found'; }">
  <h1>It's a 404</h1>
  <p>Oops, we might have lost a page</p>
</BlankLayout>
