---
import { getCollectionEntriesByTag } from '@utils/helpers.js'

import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';

export async function getStaticPaths() {
  return await getCollectionEntriesByTag('wiki');
}

const { tag, posts } = Astro.props;

const content = {
  title: `Wiki Articles Tagged with '${tag}'`
}
---

<BaseLayout content={content.title}>
  <h2>{content.title}</h2>

  <ul>
    {posts.map(post => (
      <li>
        <PostPreview post={post} tags={ [] } url_prefix="/wiki" />
      </li>
    ))}
  </ul>
</BaseLayout>
