---
import { getAllTagsData } from '@utils/helpers.js';

import BaseLayout from '@layouts/BaseLayout.astro';

const allTagsData = await getAllTagsData('wiki');

let content = {
  title: "Tags",
}
---

<BaseLayout content={content.title}>
  <h2>{content.title}</h2>
  <ul>
    {allTagsData.map(tag => (
      <li><a href={`/wiki/tags/${tag.slug}`}>{tag.name}</a></li>
    ))}
  </ul>
</BaseLayout>
